<div class="mission-filter">
    <form [formGroup]="radioGroupForm">
        <div class="btn-group btn-group-toggle row" ngbRadioGroup name="radioBasic" (change)="getListByFilter()" formControlName="launch_year">
          <label *ngFor="let year of years" ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="year"> {{year}}
          </label>
         
        </div>
        <br>
        <p class="text-center">
            Successful Launch
        </p>
        <hr>
        <div class="btn-group btn-group-toggle row" ngbRadioGroup name="radioBasic" (change)="getListByFilter()" formControlName="launch_success">
            <label  ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="true">True
            </label>
            <label  ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="false">False
              </label>
          </div>
          <br>
          <p class="text-center">
              Successful Landing
          </p>
          <hr>
          <div class="btn-group btn-group-toggle row" ngbRadioGroup name="radioBasic" (change)="getListByFilter()" formControlName="land_success">
              <label  ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="true">True
              </label>
              <label  ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" [value]="false">False
                </label>
            </div>
      </form>
      <pre>{{radioGroupForm.value['model']}}</pre>
</div>