<div class="card x-tile">
    <div class="img-wrapper">
        <img class="card-img-top" [src]="program.links?.mission_patch_small" alt="mission patch">
    </div>
    <div class="card-body">
      <h5 class="card-title">
          <a href="#" class="card-link">{{program.mission_name}} #{{program.flight_number}}</a>
      </h5>
      <div>
        <strong>Mission Id(s):</strong> 
        <ul>
            <li *ngFor="let id of program.mission_id">
                {{id}}
            </li>
        </ul>
      </div>
    <p><strong>Launch Year:</strong> {{program.launch_year}}</p>
    <p><strong>Successful Launch:</strong> {{program.launch_success}}</p>
    <p><strong>Successful Landing:</strong> {{program.landing_success}}</p>
    </div>

  </div>